@CHARSET "utf-8";
.left{
	margin-left: 10px;
}
.top{
	margin-top: 10px;
}
.right{
	margin-right: 10px;
}
.bottm{
	margin-bottom: 10px;
}
.todayArticle{
	padding: 0px;
	border:1px solid #aaa;
}
.articleTitle{
	text-align: center;
	font-size: large;
}
.show_author{
	font-size: small;
	color: #f90;
}
.col-sm-4{
	margin: 5px;
	width: 380px;
}