@CHARSET "utf-8";
body{
	background-color: #EEEEEE;
}
.postion{
	padding: 20px 0px;
}
.show_book_info p{
	margin-top: 10px;
}
.show_book_info i{
	color: #f90;
}
.panel-default{
	width: 1150px
}
.p_width{
	width: 900px;	
}